content: Revise admonition describing limitation on length of private use subtags

Although [RFC 5647 § 2.1](https://www.rfc-editor.org/rfc/rfc5646.html#section-2.1) states that private use subtags may not exceed 8 alphanumeric characters, https://github.com/gohugoio/hugo/pull/14065 removes this limitation.

After recent changes to https://github.com/gohugoio/hugo/pull/14065...

1. You can use `12345678` as a language key, but you cannot use `123456789` (exceeds 8 chars)
2. You can use `art-x-123456789` as a language key, but you cannot use `art-x-123456789` (private use subtag exceeds 8 chars)
3. In the above, `12345678` and `art-x-123456789` are different languages
4. The name of the i18n file must match the language key