datatracker.ietf.org/doc/rfc3667/bibtex/

"@misc{rfc3667,
    series =    {Request for Comments},
    number =    3667,
    howpublished =  {RFC 3667},
    publisher = {RFC Editor},
    doi =       {10.17487/RFC3667},
    url =       {https://www.rfc-editor.org/info/rfc3667},
    author =    {Scott O. Bradner},
    title =     {{IETF Rights in Contributions}},
    pagetotal = 18,
    year =      2004,
    month =     feb,
    abstract =  {The IETF policies about rights in Contributions to the IETF are designed to ensure that such Contributions can be made available to the IETF and Internet communities while permitting the authors to retain as many rights as possible. This memo details the IETF policies on rights in Contributions to the IETF. It also describes the objectives that the policies are designed to meet. This memo updates RFC 2026, and, with RFC 3668, replaces Section 10 of RFC 2026. This document specifies an Internet Best Current Practices for the Internet Community, and requests discussion and suggestions for improvements.},
}"
 https://datatracker.ietf.org/doc/rfc3667/bibtex/#:~:text=%40misc%7Brfc3667%2C%0A%20%20%20%20series,suggestions%20for%20improvements.%7D%2C%0A%7D